body{
  background-color: black;
}

@import "SegundaDiv";
@mixin cssPersonalizado {
  background-color: rgb(2, 255, 15);
  font-size: 40px;
  font-weight: bold;
}

$customcolor: white;
$customfontsize: 40px;

.PrimerDiv{
  @include cssPersonalizado();
  color: $customcolor;
  display: flex;
  justify-content: center;
  font-size: $customfontsize;

  button{
    height: 40px;
    background-color: white;
    justify-content: right;
    position: absolute;
    top: 1%;
    &::after{
      content: ' After'; 
    }
    &:hover{
      background-color: red;
    }    
  }
}

.Personalizado{
  @include cssPersonalizado();
}