*{
    padding: 0;
    margin: 0;
    text-emphasis: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(#0082E6,white);
}

nav{
    background-color: #0082E6;
    height: 80px;
    width: 100%;

    .logo{
        width: 30px;
        height: 30px;
        background: transparent;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }


    img{ /*propiedades de la imagen*/
        width: 80px;
        height: 80px;
    }

    ul{  /*así es como se pone una tabla al lado derecho de la pantalla*/
        float: right;
        margin-right: 20px;
    }

    li{ //es lo que separa en forma de listas
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    a{ //propiedades 
        color: white;
        font-size: 17px;
        padding: 7px 13px;
        text-transform: uppercase;
        text-decoration-color: none;
    }

    a.active, a:hover{  //Animacion de entrada y sobrecolor cuando se pasa el puntero
        background-color: #1b9bff;
        transition: .5s;
    }

    #check{
        display: none;
    }

} //fin del nav

.checkbtn{ //boton de las tres barritas
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none; //esta es la parte que define si se muestra o no
}

@media (max-width:925px){
    label.logo{ //goes back of the logo
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

.bannersection{     //Creamos la parte que le dara formato a la seccion del banner
    width: 100%;
    height: 400px;
    background-image: url(bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr;
    grid-template-areas: 
    "left right"
    "middle middle"
    ;

    gap: 0.2rem;
    justify-content: center;
}

.left{//se mueve el texto del bloque "left" al lado izquierdo
    grid-area: left;
    padding-top: 100px;
    height: 300px;
    padding-left: 150px;
    line-height: 20px;

    span{   //le dimos formato al texto del lado izquierdo
        font-size: 30px;
        font-weight: 30px;
        padding: 7px;
        color: rgb(1,15,53);
    }

    .subtitle{ //se le da formato de columnas
        display: flex;
        flex-direction: column;
    }
}

.right{     //se mueve el texto del bloque "right" al lado derecho
    grid-area: right;
    padding-top: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    float: right;
    padding-left: 150px;

    span{   //se le da formato al texto
        font-size: 30px;
        font-weight: bold;
        padding: 5px;
        color: rgb(236,110,37);
    }
}

.middlemobile{
    display: none;
}

.middle{
    grid-area: middle;
    height: 100px;
    padding-left: 30%;  //por meter aqui 30px no se hacia bien el centrado ... revisa bien los valores que metes
    font-size: 50px;
    font-weight: bold;
    color: rgb(169,180,19);
}

// Agregamos la sección de las tablas
.news{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;

    .newsbox{
        width: 33.33%;
        height: 300px;
        border: solid 1px;
        border-style: dashed;
        border-radius: 20px;
        border-color: rebeccapurple;
        padding: 15px;

       ul{
           text-align: center;
           background: #69ABE4 ;
           height: 150px;
           border-radius: 10px;
           font-size: 19px;
           font-weight: bold;
           padding-top: 30px;
           color: white;
       } 

       .packtitle ul{
            background-color: #155799;  //revisar por que quedo chueco.
       }

       .packtitle{
           color:rgb(247,139,16);
           font-size: 30px;
           font-weight: bold;
           background: #2B76B6;
           border-radius: 10px;
           height: 70px;

            a{
                color: white;
                text-decoration: none;
                font-size: 15px;
                background: transparent;
            }

            a:hover{
                color: rgb(236,110,37);
            }
        } //Por que este va aqui? 
    }

    labelimg img{
        width: 80px;
        height: 80px;
        margin-top: -50px;
    }
}


@media (max-width: 1198px){
    .checkbtn{
        display:block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover ,a.active{ //el color de las cosas cuando pones el puntero sobre
        background: none;
        color: white;
    }

    #check:checked ~ ul{
        left:0;
    }
}//fin del @media